<a href='/songs'>Dashboard</a>


<h1><%= @user.name %> <%= @user.username %>'s Playlist</h2>




<table style = "width:80%">
	<tr>
	    <th>Artist</th>
	    <th>Title</th>		
	    <th>Times Added</th>

  	</tr>
<% @fav.each do |x| %>
	<tr>
		<td><%= x.artist %></td>
		<td><%= x.title %></td>
		<td><%= x.count_fav %></td>
		</td>
	</tr>
<% end %>
</table> 